# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.env
.env.*

# Python Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environments
env/
venv/
ENV/
myenv
.env


# Build artifacts
dist
dist-ssr
*.local
build/
public/

# React-specific
.eslintcache
.cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker-specific
.dockerignore
*.pid

# Testing
.coverage
*.cover
*.test
*.pytest_cache/
*.tox/
.nox/

Sample Data/
tmp/