.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  gap: 0rem 0rem;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
  height: 100vh;
  max-height: 100vh;
  /* overflow-y: auto; */
}

.composer-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem;
  gap: 0rem;
  flex-wrap: wrap;
  align-content: center;
  background: var(--background);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: 90;
  overflow-y: auto;
  /* border: 2px solid red; */
}

.composer-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.1rem 1rem;
  background: var(--background);
  border-bottom: 1px solid var(--input);
}

.sidepanel-icon {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  stroke-width: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem;
  gap: 0rem;
  flex-wrap: wrap;
  align-content: center;
  background: var(--background);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: 90;
  /* border: 2px solid red; */
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  background: var(--background);
  border: 2px solid var(--input);
  border-radius: 0.5rem;
}

.mainsection-popover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--background);
  border: 1px solid var(--input);
}

.mainsection-popover-content {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

.mainsection-popover-footer {
  display: flex;
  justify-content: end;
  padding-bottom: 0.325rem;
  padding-right: 0.325rem;
}
